/* input[type=password] {
    background-color: beige;
    border: 1px solid green;
    padding: 3px;
} */

*:focus {
    outline: none;
}

input {
    border: none;
    border-bottom: 1px solid green;
}

input:focus {
    border: none;
    background-color: beige;
}

input[type=search] {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-repeat: no-repeat;
    background-position: 7px 2px;

    padding: 5px 35px;

    width: 50%;
    border: 2px solid #a6a4a4;

    transition: all .5s ease-in;
}

input[type=search]:focus {
    width: 100%;
}