* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'); */
@font-face {
    font-family: NotoSans;
    src: url('../fonts/Noto_Sans_Khojki/NotoSansKhojki-Regular.ttf');
}

html {
    font-family: NotoSans;
    font-weight: normal;
}

.box {
    width: 400px;
    height: 300px;
    /* background-color: yellow; */

    background-image: linear-gradient(to right, rgba(234, 0, 187, 0.4), rgba(55, 233, 192, 0.2)), url('../img/ford.webp');
    background-position: top left;
    background-repeat: no-repeat;

    padding: 50px;
    margin: 30px;
    border: 20px solid red;
    outline: 10px solid green;
}